<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meat Test</title>
</head>
<body>
    <h1>Register Meat</h1>
    <form action="/regis_meat/" method="post">
        <table>
            <tr><td>Name</td><td><input type="text" name="name"></td></tr>
            <tr><td>Type</td><td><input type="text" name="type"></td></tr>
            <tr><td>Grade</td><td><input type="text" name="grade"></td></tr>
            <tr><td>Description</td><td><input type="text" name="des"></td></tr>
            <tr><td>Price</td><td><input type="text" name="price"></td></tr>
            <tr><td></td><td><button type="submit">Register</button></td></tr>
        </table>
    </form>

    <!-- <h1>Meats</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Grade</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Type}}</td>
            <td>{{.Grade}}</td>
            <td>{{.Description}}</td>
            <td>{{.Price}}</td>
        </tr>
        {{end}}
    </table> -->
</body>
</html>