{{define "menu"}}
<!-- header fixed -->
<div class="wrap_header fixed-header2 trans-0-4">
    <!-- Logo -->
    <a href="/" class="logo">
        <img src="/static/assets/logo/logo2.png" alt="IMG-LOGO">
    </a>

    <!-- Menu -->
    <div class="wrap_menu">
        <nav class="menu">
            <ul class="main_menu">
                <li>
                    <a href="/" id="Home-BTN-Bar">Home</a>
                </li>

                <li>
                    <a href="/product/" id="Shop-BTN-Bar">Shop</a>
                </li>

                <li class="sale-noti">
                    <a href="/product/sale/" id="Sale-BTN-Bar">Sale</a>
                </li>

                <li>
                    <a href="/cart/" id="Cart-BTN-Bar">Cart</a>
                </li>

                <li>
                    <a href="/about/" id="About-BTN-Bar">About</a>
                </li>

                <li>
                    <a href="/contact/" id="Contact-BTN-Bar">Contact</a>
                </li>
                {{if ge .UserType 4}}
                <li class="sale-noti">
                    <a style="color: tomato" id="adminAction-BTN-Bar">Admin Action</a>
                    <ul class="sub_menu">
                        <li><a href="/add_meat/" id="add-BTN-Bar">Add Product</a></li>
                        <li><a href="/product-stock/" id="Stock-BTN-Bar">Stock</a></li>
                        {{if .IsOwner}}
                        <li><a href="/owner/" id="owner-BTN-Bar">Sales Report</a></li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
        </nav>
    </div>

    <!-- Header Icon -->
    <div class="header-icons">
        {{if ne .User ""}}
        <a href="/profile/" class="header-wrapicon1 dis-block">
            <img src="/static/assets/icon/icon-header-01.png" class="header-icon1" alt="ICON">
        </a>
        {{end}}

        <span class="linedivide1"></span>

        <div class="header-wrapicon2">
            {{template "layout_cart" .}}
        </div>
    </div>
</div>

<!-- Header -->
<header class="header2">
    <!-- Header desktop -->
    <div class="container-menu-header-v2 p-t-26">
        <div class="topbar2">
            <div class="topbar-social">
                <a href="https://www.facebook.com/profile.php?id=100002073423444" class="topbar-social-item fa fa-facebook"></a>
                <a href="https://www.instagram.com/" class="topbar-social-item fa fa-instagram"></a>
                <a href="https://www.pinterest.com/search/pins/?q=smoke%20meat&rs=typed&term_meta[]=smoke%7Ctyped&term_meta[]=meat%7Ctyped"
                    class="topbar-social-item fa fa-pinterest-p"></a>
                <a href="https://www.youtube.com/channel/UCIe9MDRdkGoS99fBc5lgPfw/videos" class="topbar-social-item fa fa-youtube-play"></a>
            </div>

            <!-- Logo2 -->
            <a href="/" class="logo2">
                <img src="/static/assets/logo/logo2.png" alt="IMG-LOGO" style="height:100%">
            </a>

            <div class="topbar-child2">
                <span class="topbar-email" id="welcomeUser">
                    {{if eq .User ""}}
                    Welcome, Guest
                    {{else}}
                    Welcome, {{.User}}
                    {{end}}
                </span>

                {{if eq .User ""}}
                <!--Register-->
                <a href="#myModal_regis" class="header-wrapicon1 dis-block m-l-30" data-toggle="modal" id="registerIcon">
                    <img src="/static/assets/icon/register.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Register" alt="ICON">
                </a>
                <!--Login-->
                <a href="#myModal" class="header-wrapicon1 dis-block m-l-30" data-toggle="modal" id="loginIcon">
                    <img src="/static/assets/icon/login.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Login" alt="ICON">
                </a>

                {{else}}
                <!-- User -->
                <a href="/profile/" class="header-wrapicon1 dis-block m-l-30" id="userProfileIcon">
                    <img src="/static/assets/icon/icon-header-01.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Profile" alt="ICON">
                </a>
                <!--Logout-->
                <a href="/logout/" class="header-wrapicon1 dis-block m-l-30" id="logoutIcon">
                    <img src="/static/assets/icon/logout.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Logout" alt="ICON">
                </a>
                {{end}}

                <span class="linedivide1"></span>

                <div class="header-wrapicon2 m-r-13">
                    {{template "layout_cart" .}}
                </div>
            </div>
        </div>

        <div class="wrap_header">

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a href="/" id="Home-BTN">Home</a>
                        </li>

                        <li>
                            <a href="/product/" id="Shop-BTN">Shop</a>
                        </li>

                        <li class="sale-noti">
                            <a href="/product/sale/" id="Sale-BTN">Sale</a>
                        </li>

                        <li>
                            <a href="/cart/" id="Cart-BTN">Cart</a>
                        </li>

                        <li>
                            <a href="/about/" id="About-BTN">About</a>
                        </li>

                        <li>
                            <a href="/contact/" id="Contact-BTN">Contact</a>
                        </li>
                        {{if .IsAdmin}}
                        <li class="sale-noti">
                            <a style="color: tomato" id="adminAction-BTN">Admin Action</a>
                            <ul class="sub_menu">
                                <li><a href="/add_meat/" id="add-BTN">Add Product</a></li>
                                <li><a href="/product-stock/" id="stock-BTN">Stock</a></li>
                                {{if .IsOwner}}
                                <li><a href="/owner/" id="owner-BTN">Sales Report</a></li>
                                {{end}}
                            </ul>
                        </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="/" class="logo-mobile">
            <img src="/static/assets/logo/logo2.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                {{if eq .User ""}}
                <!--Register-->
                <a href="#myModal_regis" class="header-wrapicon1 dis-block m-l-30" data-toggle="modal" id="registerIcon-mobile">
                    <img src="/static/assets/icon/register.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Register" alt="ICON">
                </a>
                <!--Login-->
                <a href="#myModal" class="header-wrapicon1 dis-block m-l-30" data-toggle="modal" id="loginIcon-mobile">
                    <img src="/static/assets/icon/login.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Login" alt="ICON">
                </a>

                {{else}}
                <!-- User -->
                <a href="/profile/" class="header-wrapicon1 dis-block m-l-30" id="userProfileIcon-mobile">
                    <img src="/static/assets/icon/icon-header-01.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Profile" alt="ICON">
                </a>
                <!--Logout-->
                <a href="/logout/" class="header-wrapicon1 dis-block m-l-30" id="logoutIcon-mobile">
                    <img src="/static/assets/icon/logout.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Logout" alt="ICON">
                </a>
                {{end}}
                {{/*<a href="/profile/" class="header-wrapicon1 dis-block">*/}}
                    {{/*<img src="/static/assets/icon/icon-header-01.png" class="header-icon1" data-toggle="tooltip" data-placement="bottom" title="Profile" alt="ICON">*/}}
                    {{/*</a>*/}}

                {{/*<span class="linedivide2"></span>*/}}

                {{/*<div class="header-wrapicon2">*/}}
                    {{/*<img src="/static/assets/icon/icon-header-02.png" class="header-icon1 js-show-header-dropdown"
                        */}} {{/*alt="ICON">*/}} {{/*<span class="header-icons-noti">0</span>*/}}
                        {{/*<!-- Header cart noti -->*/}} {{/*<div class="header-cart header-dropdown">*/}}
                        {{/*<ul class="header-cart-wrapitem">*/}} {{/*<!-- <li class="header-cart-item">*/}}
                        {{/*<div class="header-cart-item-img">*/}}
                        {{/*<img src="images/item-cart-01.jpg" alt="IMG">*/}} {{/*</div>*/}}
                        {{/*<div class="header-cart-item-txt">*/}} {{/*<a href="#" class="header-cart-item-name">*/}}
                        {{/*White Shirt With Pleat Detail Back*/}} {{/*</a>*/}}
                        {{/*<span class="header-cart-item-info">*/}} {{/*1 x $19.00*/}} {{/*</span>*/}} {{/*</div>*/}}
                        {{/*</li> -->*/}} {{/*</ul>*/}} {{/*<div class="header-cart-total">*/}} {{/*Total: $75.00*/}}
                        {{/*</div>*/}} {{/*<!-- <div class="header-cart-buttons">*/}}
                        {{/*<div class="header-cart-wrapbtn">*/}} {{/*Button*/}}
                        {{/*<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">*/}}
                        {{/*View Cart*/}} {{/*</a>*/}} {{/*</div>*/}} {{/*<div class="header-cart-wrapbtn">*/}}
                        {{/*Button*/}} {{/*<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">*/}}
                        {{/*Check Out*/}} {{/*</a>*/}} {{/*</div>*/}} {{/*</div> -->*/}} {{/*</div>*/}} {{/*</div>*/}}
                        </div> <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box" id="dropdownMenu">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>

            <!-- Menu Mobile -->
            <div class="wrap-side-menu">
                <nav class="side-menu">
                    <ul class="main-menu">
                        <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                            <div class="topbar-child2-mobile">
                                <span class="topbar-email" id="welcomeUser-mobile">
                                    {{if eq .User ""}}
                                    Welcome, Guest
                                    {{else}}
                                    Welcome, {{.User}}
                                    {{end}}
                                </span>
                            </div>
                        </li>

                        <li class="item-topbar-mobile p-l-10">
                            <div class="topbar-social-mobile">
                                <a href="https://www.facebook.com/profile.php?id=100002073423444" class="topbar-social-item fa fa-facebook"></a>
                                <a href="https://www.instagram.com/" class="topbar-social-item fa fa-instagram"></a>
                                <a href="https://www.pinterest.com/search/pins/?q=smoke%20meat&rs=typed&term_meta[]=smoke%7Ctyped&term_meta[]=meat%7Ctyped"
                                    class="topbar-social-item fa fa-pinterest-p"></a>
                                <a href="https://www.youtube.com/channel/UCIe9MDRdkGoS99fBc5lgPfw/videos" class="topbar-social-item fa fa-youtube-play"></a>
                            </div>
                        </li>

                        <li class="item-menu-mobile">
                            <a href="/" id="Home-BTN-Mobile">Home</a>
                            <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                        </li>

                        <li class="item-menu-mobile">
                            <a href="/product/" id="Shop-BTN-Mobile">Shop</a>
                        </li>

                        <li class="item-menu-mobile">
                            <a href="/product/sale/" id="Sale-BTN-Mobile">Sale</a>
                        </li>

                        <li class="item-menu-mobile">
                            <a href="/cart/" id="Cart-BTN-Mobile">Cart</a>
                        </li>

                        <li class="item-menu-mobile">
                            <a href="/about/" id="About-BTN-Mobile">About</a>
                        </li>

                        <li class="item-menu-mobile">
                            <a href="/contact/" id="lastDropdownMenuItem">Contact</a>
                        </li>

                        {{if .IsAdmin}}
                        <li class="item-menu-mobile">
                            <a style="color: white" id="adminAction-BTN-Mobile">Admin Action</a>
                            <ul class="sub-menu">
                                <li><a href="/add_meat/" id="add-BTN-Mobile">Add Product</a></li>
                                <li><a href="/product-stock/" id="stock-BTN-Mobile">Stock</a></li>
                                {{if .IsOwner}}
                                <li><a href="/owner/" id="owner-BTN-Mobile">Sales Report</a></li>
                                {{end}}
                            </ul>
                            <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="alertBox">
        {{if ne .Success ""}}
        <div class="container alert alert-success alert-dismissible text-center" role="alert" id="successBox">
            {{.Success}}
        </div>
        {{end}}
        {{if ne .Warning ""}}
        <div class="container alert alert-warning alert-dismissible text-center" role="alert" id="warningBox">
            Warning: {{.Warning}}
        </div>
        {{end}}
    </div>
</header>
{{end}}
